<!DOCTYPE html>
<html>
  <head>
    <title>PlApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="top-page">
          <div class="cnt">
              <div class="header-right">
                  <div class="header-right-contents">
                    <a href="">PLGATEってなに？</a>
                    <a href="">新規登録</a>
                    <a href="">ログイン</a>
                  </div>
              </div>
              <div class="top-center">
                  <p class="big-text">プレミアリーグを<br>もっと楽しむアプリ</p>
                  <div class="top-btn">
                      <a class="top-btn-1" href="">Twitterで登録する</a>
                      <a class="top-btn-2" href="">メールアドレスで登録する</a>
                  </div>
              </div>
          </div>
      </div>

      
    <%= yield %>
  </body>
</html>
