<!DOCTYPE html>
<html>
  <head>
    <title>PlApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="top-page">
          <div class="cnt">
              <div class="header-right">
                  <div class="header-right-contents">
                    <%= link_to("PLGATEってなに？","/") %>
                    <%= link_to("新規登録","/create") %>
                    <%= link_to("ログイン","/login ") %>
                  </div>
              </div>
              

      
    <%= yield %>
  </body>
</html>
